# task 1

In [1]:
import numpy as np
array = np.random.randint(low=0, high=10,size=(5, 5))
array

array([[3, 3, 9, 0, 2],
       [0, 3, 2, 0, 4],
       [9, 4, 0, 9, 6],
       [4, 3, 9, 3, 0],
       [3, 3, 9, 8, 9]])

In [2]:
def wealth(array):

  maxx_1 = array.sum(axis=1).max()
  return maxx_1;

wealth(array)

32

# task 2 python course

In [3]:
print("I Love Python")
print("I Love Programming")

I Love Python
I Love Programming

Data types

In [4]:
print(type(10))
print(type(-50))
print(type(100.9))
print(type("Hello Python"))
print(type([1, 2, 3, 4, 5]))
print(type((1, 2, 3, 4, 5)))
print(type({"One": 1, "Two": 2, "Three": 3}))
print(type(2==2))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

Variables

In [5]:
name = "Osama Elzero"
myName = "Osama Elzero"
# Single Word => Normal
# Two Words => camelCase
my_name = "Osama Elzero" # Two Words => snake_case
print(name)
print(myName)
print(my_name)

Osama Elzero
Osama Elzero
Osama Elzero

In [6]:
# Reserved Words
help("keywords")
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

1
2
3

Escape characters

 Escape Sequences Characters
 \b => Back Space
 \newline => Escape New Line + \ # \\ => Escape Back Slash
 \' => Escape Single Quotes
 \" => Escape Double Quotes # \n => Line Feed
 \r => Carriage Return
 \t => Horizontal Tab
 \xhh => Character Hex Value

In [7]:
# Back Space
print("Hello\bWorld") # Will Remove o
# Escape New Line + Back Slash \
print("Hello \
I Love \
Python")
# Escape Back Slash
print("I Love Back Slash \\")
# Escape Single Quote
print('I Love Single Quote \'Test\' ')

HelloWorld
Hello I Love Python
I Love Back Slash \
I Love Single Quote 'Test'

In [8]:
# Escape Double Quotes
print("I Love Double Quotes \"Test\" ")
# Line Feed
print("Hello World\nSecond Line")
# Carriage Return print("123456\rAbcde")
# Horizontal Tab
print("Hello\tPython")
# Character Hex Value
print("\x4F\x73")

I Love Double Quotes "Test"
Hello World
Second Line
Hello	Python
Os

Concatenation and Training

In [10]:
msg = "I Love"
lang = "Python"
print(msg + " " + lang)
full = msg + " " + lang
print(full)
a = "First \
Second \ Third"
b = "A \
B \
C"
print(a + "\n" + b)
#print("Hello" + 1) # Error (cant concate str with number)

I Love Python
I Love Python
First Second \ Third
A B C

strings

In [11]:
myStringOne = 'This is Single Quote'
myStringTwo = "This is Double Quotes"
print(myStringOne)
print(myStringTwo)
myStringThree = 'This is Single Quote "Test"'
myStringFour = "This is Double Quotes 'Test'"
print(myStringThree)
print(myStringFour)

myStringFive = '''First
Second 'Test' "Test" Third'''
myStringSix = """First
Second "Test" \\\ 'Test' Third"""
print(myStringFive)
print(myStringSix)

This is Single Quote
This is Double Quotes
This is Single Quote "Test"
This is Double Quotes 'Test'
First
Second 'Test' "Test" Third
First
Second "Test" \\ 'Test' Third

In [12]:
# Indexing ( Access Single Item )
myString = "I Love Python"
print(myString[0]) # Index > => I
print(myString[9]) # Index 9 => t
print(myString[-1]) # Index -1 => First Character From End (reverse)
print(myString[-6]) # Index -6 => 6th Character From End

I
t
n
P

In [13]:
# Slicing ( Access Multiple Sequence Items )
# [Start: End] End Not Included
# [Start:End: Steps]
print(myString[8:11])
print(myString[3:5]) # ov
print(myString[:10]) # If Start Is Not Here Will Start From 0 (I Love Pyt)
print(myString[5:]) # If End Is Not Here Will Go To The End (e Python)
print(myString[:]) # Full Data
print(myString[0::1]) # Full Data
print(myString[::1]) # Full Data
print(myString[::2])#2 steps
print(myString[::3])

yth
ov
I Love Pyt
e Python
I Love Python
I Love Python
I Love Python
ILv yhn
Io tn

In [14]:
a="   I Love Python       "
print(a.strip()) #remove spaces
print(a.rstrip()) #right
print(a.lstrip())  #left
a = "#####I_Love Python####"
print(a.strip("#"))
print(a.rstrip("#"))
print(a.lstrip("#"))
a = "@#@#@#I Love Python@#@#@#"
print(a.strip("@#"))
print(a.rstrip("@#"))
print(a.lstrip("@#"))

I Love Python
   I Love Python
I Love Python
I_Love Python
#####I_Love Python
I_Love Python####
I Love Python
@#@#@#I Love Python
I Love Python@#@#@#

In [15]:
# title()
b = "I Love 2d Graphics and 3g Technology and python"
print(b.title()) #first letter captial from each word
# capitalize() fisrt letter just
b = "I Love 2d Graphics and 3g Technology and python"
print(b.capitalize())
# zfill
c, d ,e, f = "1", "11", "111", "1111"
print(c)
print(d)
print(e)
print(f)
print(c.zfill(4)) #lenght 4
print(d.zfill(4))
print(e.zfill(4))
print(f.zfill(4))

I Love 2D Graphics And 3G Technology And Python
I love 2d graphics and 3g technology and python
1
11
111
1111
0001
0011
0111
1111

In [16]:
g = "osama"
print(g.upper())
h = "OSama"
print(h.lower())
a = "I Love Python and PHP and MySQL"
print(a.split())
b = "I-Love-Python-and-PHP-and-MySQL"
print(b.split("-"))
c = "I-Love-Python-and-PHP-and-MySQL"
print(c.split("-", 3))#first 3
d = "I-Love-Python-and-PHP-and-MySQL"
print(d.rsplit("-", 3)) #last 3

OSAMA
osama
['I', 'Love', 'Python', 'and', 'PHP', 'and', 'MySQL']
['I', 'Love', 'Python', 'and', 'PHP', 'and', 'MySQL']
['I', 'Love', 'Python', 'and-PHP-and-MySQL']
['I-Love-Python-and', 'PHP', 'and', 'MySQL']

In [17]:
e = "Osama"
print(e.center(9)) # Spaces , lenght=9
print(e.center(9, "#")) # Hashes
print(e.center(15, "@")) # @

f = "I Love Python and PHP Because PHP is Easy"
print(f.count("PHP")) # 2 PHP Words
print(f.count("PHP", 0, 25)) # Only One PHP Word from index 0 to 25

# swapcase()
g = "I Love Python" #conver to cap
h = "i 10VE PYTHON" #to small
print(g.swapcase())
print(h.swapcase())

  Osama
##Osama##
@@@@@Osama@@@@@
2
1
i lOVE pYTHON
I 10ve python

In [18]:
i = "I Love Python"
print(i.startswith("I"))
print(i.startswith("S"))
print(i.startswith("P", 7, 12))
# endswith()
j = "I Love Python"
print(j.endswith("n"))
print(j.endswith("S"))
print(j.endswith("e", 2, 6))

True
False
True
True
False
True

In [19]:
# index(SubString, Start, End)
a = "I Love Python"
print(a.index("P")) # Index Number 7
print(a.index("P", 0, 10)) # Index Number 7
#print(a.index("P", 0, 5)) # Through Error

7
7

In [20]:
# find (SubString, Start, End)
b = "I Love Python"
print(b.find("P"))
print(b.find("P", 0, 10))
print(b.find("P", 0, 5))
# rjust(Width, Fill Char) ljust(Width, Fill Char)
c = "Osama"
print(c.rjust(10)) #lenght  10
print(c.rjust(10, "#"))
d = "Osama"
print(d.ljust(10))
print(d.ljust(10, "#"))

7
7
-1
     Osama
#####Osama
Osama
Osama#####

In [21]:
e = """First Line
Second Line
Third Line"""
print(e.splitlines())
f = "First Line\nSecond Line\nThird Line"
print(f.splitlines())
# expandtabs()
g = "Hello\tWorld\t\tLove\tPython"
print(g.expandtabs(2))
one = "I Love Python And 3G"
two = "I Love Python And 3g"
print(one.istitle())
print(two.istitle())
three= " "
four =""
print(three.isspace())
print(four.isspace())

['First Line', 'Second Line', 'Third Line']
['First Line', 'Second Line', 'Third Line']
Hello World   Love  Python
True
False
True
False

In [22]:
five = 'i love python'
six = 'I Love Python'
print(five.islower())
print(six.islower())
seven = "osama_elzero"
eight= "OsamaElzero100"
nine = "Osama--Elzero100"
print(seven.isidentifier()) #correct identifier
print(eight.isidentifier())
print(nine.isidentifier())
x = "AaaaaBbbbbb"
y = "AaaaaBbbbbb111"
print(x.isalpha()) #all the characters are alphabet letters
print(y.isalpha())
u = "AaaaaBbbbbb"
z = "AaaaaBbbbbb111"
print(u.isalnum()) #all characters in the string are alpha or numeric
print(z.isalnum())

True
False
True
True
False
True
False
True
True

In [23]:
# replace (Old Value, New Value, Count)
a = "Hello One Two Three One One"
print(a.replace("One", "1"))
print(a.replace("One", "1", 1)) #the first
print(a.replace("One", "1", 2)) #the 2 first
# join(Iterable)
myList = ["Osama", "Mohamed", "Elsayed"]
print("-".join(myList))
print(" ".join(myList))
print(", ".join(myList))
print(type(", ".join(myList)))

Hello 1 Two Three 1 1
Hello 1 Two Three One One
Hello 1 Two Three 1 One
Osama-Mohamed-Elsayed
Osama Mohamed Elsayed
Osama, Mohamed, Elsayed
<class 'str'>

In [24]:
name = "Osama"
age = 36
rank = 10
print("My Name is: " + name)
# print("My Name is: + name +and My Age is:+ age)
# Type Error
print("My Name is: %s" % "Osama")
print("My Name is: %s" % name)
print("My Name is: %s and My Age is: %d" % (name, age))
print("My Name is: %s and My Age is: %d and My Rank is: %f" % (name, age, rank))
# %s => String
# %d => Number
# %f => Float
n = "Osama"
l = "Python"
y = 10

My Name is: Osama
My Name is: Osama
My Name is: Osama
My Name is: Osama and My Age is: 36
My Name is: Osama and My Age is: 36 and My Rank is: 10.000000

In [25]:
print("My Name is %s Iam %s Developer With %d Years Exp" % (n, l, y))
# Control Floating Point Number
myNumber = 10
print("My Number is: %d" % myNumber)
print("My Number is: %f" % myNumber)
print("My Number is: %.2f" % myNumber)
# Truncate String
myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is %s" % myLongString)
print("Message is %.5s" % myLongString) #first 5

My Name is Osama Iam Python Developer With 10 Years Exp
My Number is: 10
My Number is: 10.000000
My Number is: 10.00
Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello

In [26]:
name = "Osama"
age = 36
rank = 10
print("My Name is: "+ name)
# print("My Name is: + name + and My Age is: + age)
# Type Error
print("My Name is: {}".format("Osama"))
print("My Name is: {}".format(name))
print("My Name is: {} My Age: {}".format(name, age))
print("My Name is: {:s} Age: {:d} & Rank is: {:f}".format(name, age, rank))
# {:s} => String
#{d} => Number
# {f} => Float
n = "Osama"
l = "Python"
y = 10

My Name is: Osama
My Name is: Osama
My Name is: Osama
My Name is: Osama My Age: 36
My Name is: Osama Age: 36 & Rank is: 10.000000

In [27]:
print("My Name is {} Iam {} Developer With {:d} Years Exp".format(n, l, y))

myNumber = 10
print("My Number is: {:d}".format(myNumber))
print("My Number is: {:f}".format(myNumber))
print("My Number is: {:.2f}".format(myNumber))
# Truncate String
myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is {}".format(myLongString))
print("Message is {:.5s}".format(myLongString))
print("Message is {:.13s}".format(myLongString))
# Format Money
myMoney = 500162350198
print("My Money in Bank Is: {:d}".format(myMoney))
print("My Money in Bank Is: {:_d}".format(myMoney))
print("My Money in Bank Is: {:,d}".format(myMoney))

My Name is Osama Iam Python Developer With 10 Years Exp
My Number is: 10
My Number is: 10.000000
My Number is: 10.00
Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello
Message is Hello Peoples
My Money in Bank Is: 500162350198
My Money in Bank Is: 500_162_350_198
My Money in Bank Is: 500,162,350,198

In [28]:
# ReArrange Items
a, b, c = "One", "Two", "Three"
print("Hello {} {} {}".format(a, b, c)) # Hello One Two Three
print("Hello {1} {2} {0}".format(a, b, c)) # Hello Two Three One
print("Hello {2} {0} {1}".format(a, b, c)) # Hello Three One Two
x, y, z = 10, 20, 30
print("Hello {} {} {}".format(x, y, z))
print("Hello {1:d} {2:d} {0:d}".format(x, y, z))
print("Hello {2:f} {0:f} {1:f}".format(x, y, z))
print("Hello {2:.2f} {0:.4f} {1:.5f}".format(x, y, z))
# Format in Version 3.6+
myName = "Osama"
myAge = 36
print("My Name is : {myName} and My Age is : {myAge}")
print (f"My Name is : {myName} and My Age is : {myAge}")

Hello One Two Three
Hello Two Three One
Hello Three One Two
Hello 10 20 30
Hello 20 30 10
Hello 30.000000 10.000000 20.000000
Hello 30.00 10.0000 20.00000
My Name is : {myName} and My Age is : {myAge}
My Name is : Osama and My Age is : 36

In [29]:
print(type(1))
print(type(100))
print(type(10))
print(type(-10))
print(type(-110))
# Float
print(type(1.500))
print(type(100.99))
print(type(-10.99))
print(type (0.99))
print(type(-0.99))
# Complex
myComplexNumber = 5+6j
print(type(myComplexNumber))
print("Real Part Is: {}".format(myComplexNumber.real))
print("Imaginary Part Is: {}".format(myComplexNumber.imag))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
Real Part Is: 5.0
Imaginary Part Is: 6.0

In [30]:
print(100)
print(float(100))
print(complex(100))
print(10.50)
print(int(10.50))
print(complex(10.50))
print(10+9j)
#print(int(10+9j))

100
100.0
(100+0j)
10.5
10
(10.5+0j)
(10+9j)

In [32]:

# Addition
print(10 + 30)
print(-10 + 20)
print(1 + 2.66)
print(1.2 + 1.2)
# Subtraction
print(60 - 30)
print(-30 - 20)
print(-30 - -20)
print(5.66 - 3.44)
#2.22
# Multiplication
print(10 * 3)
print(5 + 10 * 100)
print((5 + 10) * 100)

40
10
3.66
2.4
30
-50
-10
2.22
30
1005
1500

In [36]:

# Division
print(100/20) # 5.0
print(int(100 / 20))
# Modulus
print(8 % 2)
#1
print(9 % 2)
print(20 % 5)
print(22 % 5)
# Exponent
print(2** 5)
print(2 * 2 * 2 * 2 *2)
print(5 ** 4)
print(5 * 5 * 5 * 5)
# Floor Division
print(100 // 20)
print(119 // 20)
print(120 // 20)
print(140 // 20)
print(142 // 20)

5.0
5
0
1
0
2
32
32
625
625
5
5
6
7
7

list

In [40]:
myAwesomeList = ["One", "Two", "One", 1, 100.5, True]
print (myAwesomeList) # Whole List
print(myAwesomeList[1]) # "Two"
print(myAwesomeList[-1])
print(myAwesomeList[-3])
print(myAwesomeList[1:4])
print(myAwesomeList[:4])
print(myAwesomeList[1:])
print(myAwesomeList[::1])
print(myAwesomeList[::2])
print(myAwesomeList)
# myAwesomeList[1] = 2
#myAwesomeList[-1]= False
myAwesomeList [0:3] = ["A"]
print(myAwesomeList)

['One', 'Two', 'One', 1, 100.5, True]
Two
True
1
['Two', 'One', 1]
['One', 'Two', 'One', 1]
['Two', 'One', 1, 100.5, True]
['One', 'Two', 'One', 1, 100.5, True]
['One', 'One', 100.5]
['One', 'Two', 'One', 1, 100.5, True]
['A', 1, 100.5, True]

In [42]:
myFriends = ["Osama", "Ahmed", "Sayed"]
myOldFriends = ["Haytham", "Samah", "Ali"]
myFriends.append("Alaa")
myFriends.append(100)
myFriends.append(150.200)
myFriends.append(True)
myFriends.append(myOldFriends)
print(myFriends)
print(myFriends [2])
print(myFriends [6])
print(myFriends [7])
print(myFriends [7][2])

a =[1, 2, 3, 4]
b = ["A", "B", "C"]
c = ["One", "Two"]
a.extend(b)
a.extend(c)
print(a)

['Osama', 'Ahmed', 'Sayed', 'Alaa', 100, 150.2, True, ['Haytham', 'Samah', 'Ali']]
Sayed
True
['Haytham', 'Samah', 'Ali']
Ali
[1, 2, 3, 4, 'A', 'B', 'C', 'One', 'Two']

In [46]:
x = [1, 2, 3, 4, 5, "Osama", True, "Osama", "Osama"]
x.remove("Osama")
print(x)
# sort()
y=[1, 2, 100, 120, -10, 17, 29]
#y = ["A", "Z", "C"]
y.sort(reverse=True)
print(y)
z = [10, 1, 9, 80, 100, "Osama", 100]
z.reverse()
print(z)

[1, 2, 3, 4, 5, True, 'Osama', 'Osama']
[120, 100, 29, 17, 2, 1, -10]
[100, 'Osama', 100, 80, 9, 1, 10]

In [47]:
a = [1, 2, 3, 4]
a.clear()
print(a)
# copy()
b = [1, 2, 3, 4]
c = b.copy()
print(b) # Main List
print(c) # Copied List
b.append(5)
print(b) # Main List
print(c) # Copied List

[]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [50]:
# count()
d = [1, 2, 3, 4, 3, 9, 10, 1, 2, 1]
print(d.count(1))
# index()
e =["Osama", "Ahmed", "Sayed", "Ramy", "Ahmed", "Ramy"]
print(e.index("Ramy"))
# insert()
f = [1, 2, 3, 4, 5, "A", "B"]
f.insert(0, "Test")
f.insert(-1, "Test")
print(f)
# pop()
g = [1, 2, 3, 4, 5, "A", "B"]
print(g.pop(-3))

3
3
['Test', 1, 2, 3, 4, 5, 'A', 'Test', 'B']
5

tuples

In [51]:
myAwesomeTupleOne=("Osama","Ahmed")
myAwesomeTupleTwo = "Osama", "Ahmed"
print (myAwesomeTupleOne)
print(myAwesomeTupleTwo)
print(type(myAwesomeTupleOne))
print(type(myAwesomeTupleTwo))
# Tuple Indexing
myAwesomeTupleThree = (1, 2, 3, 4, 5)
print(myAwesomeTupleThree[0])
print(myAwesomeTupleThree[-1])
print(myAwesomeTupleThree[-3])
# Tuple Assign Values
myAwesomeTupleFour = (1, 2, 3, 4, 5)
# myAwesomeTupleFour[2] = "Three"
# print(myAwesomeTupleFour)
# Tuple Data
# 'tuple' object does not support item assignment
myAwesomeTupleFive = ("Osama", "Osama", 1, 2, 3, 100.5, True)
print(myAwesomeTupleFive[1])
print(myAwesomeTupleFive[-1])

('Osama', 'Ahmed')
('Osama', 'Ahmed')
<class 'tuple'>
<class 'tuple'>
1
5
3
Osama
True

In [54]:
# Tuple With One Element
myTuple1 = ("Osama",)
myTuple2 = "Osama",
print(myTuple1)
print(myTuple2)
print(type(myTuple1))
print(type(myTuple2))
print(len(myTuple1))
print(len(myTuple2))
# Tuple Concatenation
a=(1, 2, 3, 4)
b = (5, 6)
c = a + b
d = a + ("A", "B", True) + b
print(c)
print(d)
# Tuple, List, String Repeat (*)
myString = "Osama"
myList = [1, 2]
myTuple = ("A", "B")

('Osama',)
('Osama',)
<class 'tuple'>
<class 'tuple'>
1
1
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 'A', 'B', True, 5, 6)

In [56]:
print(myString * 6)
print(myList* 6)
print(myTuple * 6)
# Methods => count()
a = (1, 3, 7, 8, 2, 6, 5, 8)
print(a.count(8))
# Methods => index()
b = (1, 3, 7, 8, 2, 6, 5)
# print("The Position of Index Is: " + b.index(7)) # Error
print("The Position of Index Is: {:d}".format(b.index(7)))
print (f"The Position of Index Is: {b.index(7)}")
#Tuple Destruct
a = ("A", "B", 4, "C")
x, y,
z = a
print(x)
print(y)
print(z)

OsamaOsamaOsamaOsamaOsamaOsama
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')
2
The Position of Index Is: 2
The Position of Index Is: 2
[1, 2, 3, 4, 5, True, 'Osama', 'Osama']
[120, 100, 29, 17, 2, 1, -10]
('A', 'B', 4, 'C')

sets

In [60]:
# Not Ordered And Not Indexed
mySetOne = {"Osama", "Ahmed", 100}
print(mySetOne)
# print(mySetOne[0])
# Slicing Cant Be Done
mySetTwo = {1, 2, 3, 4, 5, 6}
# print(mySetTwo [0:3])
# Has Only Immutable Data Types
#mySetThree = {"Osama", 100, 100.5, True, [1, 2, 3]} # unhashable type: 'list'
mySetThree = {"Osama", 100, 100.5, True, (1, 2, 3)}
print(mySetThree)
# Items Is Unique
mySetFour = {1, 2, "Osama", "One", "Osama" , 1}
print(mySetFour)

{'Osama', 100, 'Ahmed'}
{True, 100.5, 100, (1, 2, 3), 'Osama'}
{1, 2, 'Osama', 'One'}

In [64]:
a = {1, 2, 3}
a.clear()
print(a)
# union()
b ={"One", "Two", "Three"}
c = {"1", "2", "3"}
x = {"Zero", "Cool"}
print(b | c)
print(b.union(c, x))
# add()
d = {1, 2, 3, 4}
d.add(5)
d.add(6)
print(d)

set()
{'3', '2', 'Two', '1', 'Three', 'One'}
{'Cool', '3', '2', 'Two', '1', 'Zero', 'Three', 'One'}
{1, 2, 3, 4, 5, 6}

In [67]:
e = {1, 2, 3, 4}
f = e.copy()
print(e)
print(f)
e.add(6)
print(e)
print(f)
# remove()
g = {1, 2, 3, 4}
g.remove(1)
# g.remove(7) print(g)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4}

In [68]:
# discard()
h = {1, 2, 3, 4}
h.discard(1)
h.discard(7)
print(h)
# pop()
i = {"A", True, 1, 2, 3, 4, 5}
print(i.pop())
# update()
j = {1, 2, 3}
k = {1, "A", "B", 2}
j.update(['Html', "Css"])
j.update(k)
print(j)

{2, 3, 4}
True
{1, 2, 3, 'Html', 'A', 'B', 'Css'}

In [69]:
# difference()
a = {1, 2, 3, 4}
b = {1, 2, 3, "Osama", "Ahmed"}
print(a)
print(a.difference (b)) # a - b
print(a)
print("=" * 40) # Separator
# difference_update()
c = {1, 2, 3, 4}
d = {1, 2, "Osama", "Ahmed"}
print(c)
c.difference_update(d) # c - d
print(c)
print("=" * 40) # Separator
# intersection()
e = {1, 2, 3, 4, "X", "Osama"}
f = {"Osama", "X", 2}
print(e)
print(e.intersection (f)) #e & f
print(e)
print("=" * 40) # Separator

{1, 2, 3, 4}
{4}
{1, 2, 3, 4}
========================================
{1, 2, 3, 4}
{3, 4}
========================================
{1, 2, 3, 4, 'X', 'Osama'}
{2, 'Osama', 'X'}
{1, 2, 3, 4, 'X', 'Osama'}
========================================

In [72]:
# intersection_update()
g = {1, 2, 3, 4, "X", "Osama"}
h = {"Osama", "X", 2}
print(g)
g.intersection_update(h) # g & h
print(g)
print("=" * 40) # Separator
# symmetric_difference()
i = {1, 2, 3, 4, 5, "X"}
j = {"Osama", "Zero", 1, 2, 4, "X"}
print(i)
print(i.symmetric_difference(j)) # i ^ j
print(i)
print("=" * 40) # Separator
# symmetric_difference_update()
k = {1, 2, 3, 4, 5, "X"}
l = {"Osama", "Zero", 1, 2, 4, "X"}
print(k)
k.symmetric_difference_update(l) #k ^ 1
print(k)

{1, 2, 3, 4, 'X', 'Osama'}
{2, 'Osama', 'X'}
========================================
{1, 2, 3, 4, 5, 'X'}
{3, 5, 'Zero', 'Osama'}
{1, 2, 3, 4, 5, 'X'}
========================================
{1, 2, 3, 4, 5, 'X'}
{3, 5, 'Zero', 'Osama'}

In [75]:
# issuperset()
a = {1, 2, 3, 4}
b = {1, 2, 3}
c = {1, 2, 3, 4, 5}
print(a.issuperset (b)) # True
print(a.issuperset (c)) # False
print("=" * 50)
# issubset()
d = {1, 2, 3, 4}
e = {1, 2, 3}
f = {1, 2, 3, 4, 5}
print(d.issubset(e)) # False
print(d.issubset(f)) # True
print("=" * 50)
#isdisjoint()
g = {1, 2, 3, 4}
h = {1, 2, 3}
i = {10, 11, 12}
print(g.isdisjoint(h)) # False
print(g.isdisjoint(i)) # True

True
False
==================================================
False
True
==================================================
False
True

Dictionary

In [78]:
user = {
"name": "Osama",
"age": 36,
"country": "Egypt",
"skills": ["Html", "Css", "JS"],
"rating": 10.5
}
print(user)
print(user['country'])
print(user.get("country"))
print(user.keys())
print(user.values())

{'name': 'Osama', 'age': 36, 'country': 'Egypt', 'skills': ['Html', 'Css', 'JS'], 'rating': 10.5}
Egypt
Egypt
dict_keys(['name', 'age', 'country', 'skills', 'rating'])
dict_values(['Osama', 36, 'Egypt', ['Html', 'Css', 'JS'], 10.5])

In [79]:
languages = {
  "One": {
  "name": "Html",
  "progress": "80%"
  },
  "Two": {
  "name": "Css",
  "progress": "90%"
  },
  "Three": {
  "name": "Js",
  "progress": "90%"
  }
  }
print(languages)
print(languages ['One'])
print(languages['Three']['name'])
# Dictionary Length
print(len(languages))
print(len(languages["Two"]))

{'One': {'name': 'Html', 'progress': '80%'}, 'Two': {'name': 'Css', 'progress': '90%'}, 'Three': {'name': 'Js', 'progress': '90%'}}
{'name': 'Html', 'progress': '80%'}
Js
3
2

In [80]:
frameworkOne = {
"name": "Vuejs",
"progress": "80%"
}
frameworkTwo={
"name": "ReactJs",
"progress": "80%"
}
frameworkThree = {
"name": "Angular",
"progress": "80%"
}
allFramework = {
  "one": frameworkOne,
  "two": frameworkTwo,
  "three": frameworkThree
}
print(allFramework)

{'one': {'name': 'Vuejs', 'progress': '80%'}, 'two': {'name': 'ReactJs', 'progress': '80%'}, 'three': {'name': 'Angular', 'progress': '80%'}}

In [82]:
# clear()
user = {
"name": "Osama"}
print(user)
user.clear()
print(user)
print("=" * 50)
# update()
member = {
"name": "Osama"}
print(member)
member["age"] = 36
print(member)
member.update({"country": "Egypt"})
print(member)
print("=" * 50)

{'name': 'Osama'}
{}
==================================================
{'name': 'Osama'}
{'name': 'Osama', 'age': 36}
{'name': 'Osama', 'age': 36, 'country': 'Egypt'}
==================================================

In [83]:
# copy()
main = {
"name": "Osama"
}
b = main.copy()
print(b)
main.update({"skills": "Fighting"})
print(main)
print(b)
#keys() + values()
print(main.keys())
print(main.values())

{'name': 'Osama'}
{'name': 'Osama', 'skills': 'Fighting'}
{'name': 'Osama'}
dict_keys(['name', 'skills'])
dict_values(['Osama', 'Fighting'])

In [90]:
# setdefault()
user = {
"name": "Osama"}

print(user)
print(user.setdefault("age", 36))
print(user)
print("=" * 40)
# popitem()
member = {
"name": "Osama",
"skill": "PS4"
}
print(member)
member.update({"age": 36})
print(member.popitem())
print("=" * 40)

{'name': 'Osama'}
36
{'name': 'Osama', 'age': 36}
========================================
{'name': 'Osama', 'skill': 'PS4'}
('age', 36)
========================================

In [93]:
# items()
view ={
"name": "Osama",
"skill": "XBox"
}
allItems = view.items()
print(view)
view["age"] = 36
print(allItems)
print("=" * 40)
# fromkeys()
a = ('MyKeyOne', 'MyKeyTwo', 'MyKeyThree')
b = "X"
print(dict.fromkeys(a, b))

{'name': 'Osama', 'skill': 'XBox'}
dict_items([('name', 'Osama'), ('skill', 'XBox'), ('age', 36)])
========================================
{'MyKeyOne': 'X', 'MyKeyTwo': 'X', 'MyKeyThree': 'X'}

Boolean

In [95]:
name =" "
print(name.isspace())
print("=" * 50)
print(100 > 200)
print(100 > 100)
print(100 > 90)
print("=" * 50)
# True Values
print(bool ("Osama"))
print(bool(100))
print(bool(100.95))
print(bool (True))
print(bool([1, 2, 3, 4, 5]))
print("=" * 50)

True
==================================================
False
False
True
==================================================
True
True
True
True
True
==================================================

In [96]:
print(bool(0))
print(bool(""))
print(bool(''))
print(bool([]))
print(bool (False))
print(bool(()))
print(bool({}))
print(bool (None))

False
False
False
False
False
False
False
False

In [102]:
age = 36
country = "Egypt"
rank = 10
print(age > 16 and country=="Egypt" and rank > 0) # True
print(age > 16 and country == "KSA" and rank > 0) # False
print(age > 40 or country == "KSA" or rank > 20) # False
print(age > 40 or country =="Egypt" or rank > 20) # True
print(age > 16) # True
print(not age > 16) # Not True = False

True
False
False
True
True
False

Assignment operator

In [103]:

x = 10 # Var One
y = 20 # Var Two
# Var One = Self [Operator] Var Two # Var One [Operator]= Var Two
# x += y
x-= y
print(x)

-10

Comparison operators

In [105]:
print(100==100)
print(100==200)
print(100 == 100.00)
print("#" * 50)
print(100 == 100)
print(100 != 200)
print(100 != 100.00)
print("#" * 50)
# Greater Than + Less Than
print(100 > 100)
print(100 > 200)
print(100 > 100.00)
print(100 > 40)
print("#" * 50)
print(100 < 100)
print(100200)
print(100 < 100.00)
print(100 < 40)
print("#" * 50)

True
False
True
##################################################
True
True
False
##################################################
False
False
False
True
##################################################
False
100200
False
False
##################################################

In [106]:
print(100 >= 100)
print(100 >= 200)
print(100 >= 100.00)
print(100 >= 40)
print("#" * 50)
print(100 <= 100)
print(100 <= 200)
print(100 <= 100.00)
print(100 <= 40)
print("#" * 50)

True
False
True
True
##################################################
True
True
True
False
##################################################

In [109]:
a = 10
print(type(a))
print(type(str(a)))
print("#" * 50)
# tuple()
C = "Osama" # String
d =[1, 2, 3, 4, 5]
e = {"A", "B", "C"}
f = {"A": 1, "B": 2}
# List
# Set
# Dictionary
print(tuple(c))
print(tuple(d))
print(tuple(e))
print(tuple(f))

<class 'int'>
<class 'str'>
##################################################
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
('A', 'C', 'B')
('A', 'B')

In [114]:
C = "Osama" # String
d=(1, 2, 3, 4, 5)# Tuple
e={"A", "B", "C"} # Set
f = {"A": 1, "B": 2} # Dictionary

print(list(c))
print(list(d))
print(list(e))
print(list(f))
print("#"* 50)
# set()
c = "Osama" # String
d=(1, 2, 3, 4, 5)
e = ["A", "B", "C"] # List
f={"A": 1, "B": 2} # Dictionary
print(set(c))
print(set(d))
print(set(e))
print(set(f))
print("#" * 50)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['A', 'C', 'B']
['A', 'B']
##################################################
{'a', 'O', 's', 'm'}
{1, 2, 3, 4, 5}
{'A', 'C', 'B'}
{'A', 'B'}
##################################################

In [116]:
# dict()
d =(("A", 1), ("B", 2), ("C", 3)) # Tuple
e = [["One", 1], ["Two", 2], ["Three", 3]] # List
print(dict(d))
print(dict(e))

{'A': 1, 'B': 2, 'C': 3}
{'One': 1, 'Two': 2, 'Three': 3}

In [118]:
fName = input('What\'s Is Your First Name?')
mName = input('What\'s Is Your Middle Name?')
lName = input('What\'s Is Your Last Name?')
fName = fName.strip().capitalize()
mName = mName.strip().capitalize()
lName = lName.strip().capitalize()
print(f"Hello {fName} {mName:.1s} {lName} Happy To See You.")

What's Is Your First Name?bushra
What's Is Your Middle Name?abdulkhaleg
What's Is Your Last Name?dajam
Hello Bushra A Dajam Happy To See You.

In [120]:
uName = "Osama"
uCountry = "Kuwait"
cName = "Python Course"
cPrice = 100
if uCountry == "Egypt":
  print(f"Hello {uName} Because You Are From {uCountry}")
  print(f"The Course \"{cName}\" Price Is: ${cPrice - 80}")
elif uCountry == "KSA":
  print(f"Hello {uName} Because You Are From {uCountry}")
  print (f"The Course \"{cName}\" Price Is: ${cPrice - 60}")
elif uCountry == "Kuwait":
  print(f"Hello {uName} Because You Are From {uCountry}")
  print (f"The Course \"{cName}\" Price Is: ${cPrice - 50}")
else:
  print(f"Hello {uName} Because You Are From {uCountry}")
  print (f"The Course \"{cName}\" Price Is: ${cPrice - 30}")

Hello Osama Because You Are From Kuwait
The Course "Python Course" Price Is: $50

In [122]:
uName = "Osama"
isStudent = "Yes"
uCountry = "Egypt"
cName = "Python Course"
cPrice = 100
if uCountry == "Egypt" or uCountry == "KSA" or uCountry == "Qatar":
  if isStudent == "Yes":
    print(f"Hi {uName} Because U R From {uCountry} And Student")
    print(f"The Course \"{cName}\" Price Is: ${cPrice - 90}")
  else:
    print(f"Hi {uName} Because U R From {uCountry}")
    print (f"The Course \"{cName}\" Price Is: ${cPrice - 80}")
elif uCountry == "Kuwait" or uCountry == "Bahrain":
  print(f"Hi {uName} Because U R From {uCountry}")
  print (f"The Course \"{cName}\" Price Is: ${cPrice - 50}")
else:
  print(f"Hi {uName} Because U R From {uCountry}")
  print (f"The Course \"{cName}\" Price Is: ${cPrice - 30}")

Hi Osama Because U R From Egypt And Student
The Course "Python Course" Price Is: $10

In [123]:
country = "A"
if country=="Egypt" : print(f"The Weather in {country} Is 15")
elif country == "KSA" : print(f"The Weather in {country} Is 30")
else: print("Country is Not in The List")
# Short If
movieRate = 18
age = 18
if age < movieRate :
  print("Movie S Not Good 4U") # Condition If True
else :
  print("Movie S Good 4U And Happy Watching") # Condition If False
print("Movie S Not Good 4U" if age < movieRate else "Movie S Good 4U And Happy Watching")
# Condition If True | If Condition | Else | Condition If False

Country is Not in The List
Movie S Good 4U And Happy Watching
Movie S Good 4U And Happy Watching

Membership Operators

In [124]:

name = "Osama"
print("s" in name)
print("a" in name)
print("A" in name)
print("#" * 50)
# List
friends = ["Ahmed", "Sayed", "Mahmoud"]
print("Osama" in friends)
print("Sayed" in friends)
print("Mahmoud" not in friends)
print("#" * 50)

True
True
False
##################################################
False
True
False
##################################################

In [127]:
countriesOne = ["Egypt", "KSA", "Kuwait", "Bahrain", "Syria"]
countriesOneDiscount = 80
countriesTwo = ["Italy", "USA"]
countriesTwoDiscount = 50
myCountry = "Italy"
if myCountry in countriesOne:
  print (f"Hello You Have A Discount Equal To ${countriesOneDiscount}")
elif myCountry in countriesTwo:
  print (f"Hello You Have A Discount Equal To ${countriesTwoDiscount}")
else:
  print("You Have No Discount")

Hello You Have A Discount Equal To $50

In [129]:
a = 0
while a < 15:
  print(a)
  a += 1 # a = a + 1
print("Loop is Done") # True Become False
while False:
  print("Will Not Print")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Loop is Done

In [131]:

myNumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in myNumbers:
# print(number * 17)
  if number % 2 == 0: # Even
    print (f"The Number {number} Is Even.")
  else:
    print(f"The Number {number} Is Odd.")
else:
  print("The Loop Is Finished")
myName = "Osama"
for letter in myName:
  print(f" [ {letter.upper()} ] ")

The Number 1 Is Odd.
The Number 2 Is Even.
The Number 3 Is Odd.
The Number 4 Is Even.
The Number 5 Is Odd.
The Number 6 Is Even.
The Number 7 Is Odd.
The Number 8 Is Even.
The Number 9 Is Odd.
The Loop Is Finished
 [ O ]
 [ S ]
 [ A ]
 [ M ]
 [ A ]

In [133]:

peoples = ["Osama", "Ahmed", "Sayed", "Ali"]
skills = ['Html', 'Css', 'Js']
for name in peoples: # Outer Loop
  print(f" {name} Skills Is: ")
  for skill in skills: # Inner Loop
    print(f"- {skill}")

 Osama Skills Is:
- Html
- Css
- Js
 Ahmed Skills Is:
- Html
- Css
- Js
 Sayed Skills Is:
- Html
- Css
- Js
 Ali Skills Is:
- Html
- Css
- Js

In [135]:
peoples = { "Osama": {
"Html": "70%",
"Css": "80%",
"Js": "70%"
},
"Ahmed" : {
"Html": "90%",
"Css": "80%",
"Js": "90%"
},
"Sayed": {
"Html": "70%",
"Css": "60%",
"Js": "90%"
}
}
print(peoples["Osama"])
print(peoples["Ahmed"])
print(peoples["Sayed"])
print(peoples["Osama"]['Css'])
print(peoples["Ahmed"]['Css'])
print(peoples["Sayed"]['Css'])

{'Html': '70%', 'Css': '80%', 'Js': '70%'}
{'Html': '90%', 'Css': '80%', 'Js': '90%'}
{'Html': '70%', 'Css': '60%', 'Js': '90%'}
80%
80%
60%

In [137]:
for name in peoples:
  print(f"Skills and Progress For {name} Is: ")
  for skill in peoples [name]:
    print(f"{skill.upper()} => {peoples [name] [skill]}")

Skills and Progress For Osama Is:
HTML => 70%
CSS => 80%
JS => 70%
Skills and Progress For Ahmed Is:
HTML => 90%
CSS => 80%
JS => 90%
Skills and Progress For Sayed Is:
HTML => 70%
CSS => 60%
JS => 90%

In [138]:
for number in myNumbers:
  if number == 13:
    continue
  print(number)
print("#" * 50)

1
2
3
4
5
6
7
8
9
##################################################

In [139]:
# Break
for number in myNumbers:
  if number == 13:
    break
  print(number)
print("#" * 50)

1
2
3
4
5
6
7
8
9
##################################################

In [141]:
# Pass
for number in myNumbers:
  if number == 13:
    pass
  print(number)

1
2
3
4
5
6
7
8
9