# task1

In [39]:
sen1 ="I love play football"
sen2 ="play football is funny"

In [40]:
split_sen1 = sen1.split()
split_sen2 = sen2.split()
split_sen1

['I', 'love', 'play', 'football']

In [41]:
sum_sim=0
for i in split_sen2:
    if i in split_sen1:
        sum_sim+=1
res=sum_sim/len(split_sen2)
res

0.5

In [42]:
sum_sim

2